# <font color = 'green'> 1. Pull common_stock from class server to local database.
Replicate the databases and tables needed from the class server to local server. 
We will use *derived_derived_sec_fund_characteristics* table in the *common_goods* database for this project, which contains the MF prospectus data extracted from 13F files.</font>

In [2]:
from installdatabase import *

In [2]:
class_clickhouse_query('show databases')

Elapsed time: 0 days 00:00:00.005801 seconds

                   name
0     brokercheck_final
1          common_goods
2                  comp
3         comp_snapshot
4                  crsp
5        factset_common
6   factset_common_2022
7      factset_own_2022
8                    ff
9                    hw
10           ibes202301
11              instown
12                  kld
13                 link
14                  osm
15              patents
16          reprisk_new
17        student_class
18            tr_sdc_ni

In [5]:
class_clickhouse_query('show tables in common_goods')

Elapsed time: 0 days 00:00:00 seconds

                               name
0                        datastream
1  derived_sec_fund_characteristics
2                    ravenpack_2021
3                      sec_risk_cal
4                      sec_risk_lab
5                      sec_risk_num
6                      sec_risk_sub
7                      sec_risk_tag
8                      sec_risk_txt

In [74]:
#create local database
clickhouse_query('create database if not exists common_goods')
clickhouse_query('show databases')

Elapsed time: 0 days 00:00:00 seconds
Elapsed time: 0 days 00:00:00 seconds

                 name
0  INFORMATION_SCHEMA
1        common_goods
2                crsp
3             default
4  information_schema
5             instown
6         reprisk_new
7              system

## <font color='green'> derived_sec_fund_characteristics </font>

In [6]:
clickhouse_query('''
create table if not exists common_goods.derived_sec_fund_characteristics Engine=MergeTree ORDER BY tuple() as
select * from remote('147.8.113.116:29000', common_goods.derived_sec_fund_characteristics,'class','alanisthecoolest123')
''')

Elapsed time: 0 days 00:00:00 seconds

Empty DataFrame
Columns: []
Index: []

In [7]:
clickhouse_query('select * from common_goods.derived_sec_fund_characteristics limit 5')

Elapsed time: 0 days 00:00:00 seconds

,row,cik_expanded,adsh,series,class,TradingSymbol,ExpenseHeading,ObjectiveHeading,ObjectivePrimaryTextBlock,PerformanceAvailabilityWebSiteAddress,...,pdate,effdate,form,filed,accepted,instance,nciks,aciks,file,aciks2
0,1,5138,0000005138-17-000045,S000012125,,<NA>,Fee Table,Investment Objectives/Goals,The Fund&#180;s primary objective is growth of...,www.americangrowthfund.com,...,20170330,20170412,485BPOS,20170501,2017-05-01 12:20:00,agfi-20170412.xml,1,,/home/alan/sec/2017q2_rr1/sub.tsv,5138
1,2,12601,0000012601-17-000043,S000056528,,<NA>,Fees and Expenses of the Account,Objective:,The Account seeks to provide as high a level o...,www.principal.com,...,20170227,20170227,485BPOS,20170315,2017-03-15 16:27:00,ck0000898745-20161231.xml,1,,/home/alan/sec/2017q1_rr1/sub.tsv,12601
2,3,12601,0000012601-17-000043,S000056529,,<NA>,Fees and Expenses of the Account,Objective:,The Account seeks to provide long-term capital...,www.principal.com,...,20170227,20170227,485BPOS,20170315,2017-03-15 16:27:00,ck0000898745-20161231.xml,1,,/home/alan/sec/2017q1_rr1/sub.tsv,12601
3,4,30146,0000030146-17-000010,S000000068,,<NA>,Fees and Expenses,Investment Objective,The fund seeks long-term capital growth consis...,www.dreyfus.com,...,20170501,20170501,485BPOS,20170511,2017-05-11 10:18:00,ck0000030146-20170427.xml,1,,/home/alan/sec/2017q2_rr1/sub.tsv,30146
4,5,30146,0000030146-20-000011,S000000068,,<NA>,Fees and Expenses,Investment Objective,The fund seeks long-term capital growth consis...,www.bnymellonim.com/us,...,20200501,20200501,485BPOS,20200508,2020-05-08 08:45:00,ck0000030146-20200424.xml,1,,/home/alan/sec/2020q2_rr1/sub.tsv,30146

In [8]:
clickhouse_query('describe table common_goods.derived_sec_fund_characteristics')

Elapsed time: 0 days 00:00:00.001005 seconds

,name,type,default_type,default_expression,comment,codec_expression,ttl_expression
0,row,Nullable(Int32),,,,,
1,cik_expanded,Nullable(String),,,,,
2,adsh,Nullable(String),,,,,
3,series,Nullable(String),,,,,
4,class,Nullable(String),,,,,
5,TradingSymbol,Nullable(String),,,,,
6,ExpenseHeading,Nullable(String),,,,,
7,ObjectiveHeading,Nullable(String),,,,,
8,ObjectivePrimaryTextBlock,Nullable(String),,,,,
9,PerformanceAvailabilityWebSiteAddress,Nullable(String),,,,,
10,RiskHeading,Nullable(String),,,,,
11,RiskLoseMoney,Nullable(String),,,,,
12,RiskNarrativeTextBlock,Nullable(String),,,,,
13,RiskReturnHeading,Nullable(String),,,,,
14,StrategyHeading,Nullable(String),,,,,
15,StrategyNarrativeTextBlock,Nullable(String),,,,,
16,cik,Nullable(Int32),,,,,
17,name,Nullable(String),,,,,
18,countryba,Nullable(String),,,,,
19,stprba,Nullable(String),,,,,
20,cityba,Nullable(String),,,,,
21,zipba,Nullable(String),,,,,
22,bas1,Nullable(String),,,,,
23,bas2,Nullable(String),,,,,
24,baph,Nullable(String),,,,,
25,countryma,Nullable(String),,,,,
26,stprma,Nullable(String),,,,,
27,cityma,Nullable(String),,,,,
28,zipma,Nullable(String),,,,,
29,mas1,Nullable(String),,,,,
30,mas2,Nullable(String),,,,,
31,countryinc,Nullable(String),,,,,
32,stprinc,Nullable(String),,,,,
33,ein,Nullable(Int32),,,,,
34,former,Nullable(String),,,,,
35,changed,Nullable(Int32),,,,,
36,fye,Nullable(Int32),,,,,
37,pdate,Nullable(Int32),,,,,
38,effdate,Nullable(Int32),,,,,
39,form,Nullable(String),,,,,
40,filed,Nullable(Int32),,,,,
41,accepted,Nullable(String),,,,,
42,instance,Nullable(String),,,,,
43,nciks,Nullable(Int32),,,,,
44,aciks,Nullable(String),,,,,
45,file,Nullable(String),,,,,
46,aciks2,Nullable(String),,,,,

Check out raw data.

In [3]:
clickhouse_query('''
    select min(pdate) as min_date,
    max(pdate) as max_date,
    count(distinct cik_expanded) as no_funds,
    count(distinct adsh) as no_of_files
    from common_goods.derived_sec_fund_characteristics
    where ObjectivePrimaryTextBlock is not null and StrategyNarrativeTextBlock is not null
    and StrategyNarrativeTextBlock != ''
    ''')

Elapsed time: 0 days 00:00:00 seconds

   min_date  max_date  no_funds  no_of_files
0  20151208  20220609      1436         1600

In [5]:
fund_objectives_strategy_raw = clickhouse_query('''
select distinct adsh, cik_expanded, name,
pdate as period_end_date,
ObjectivePrimaryTextBlock as objective,
StrategyNarrativeTextBlock as strategy

from common_goods.derived_sec_fund_characteristics

where StrategyNarrativeTextBlock is not null
and StrategyNarrativeTextBlock != ''

order by cik_expanded, pdate asc
''').drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

Elapsed time: 0 days 00:00:00 seconds

In [6]:
import os
import pickle

path = r'C:\Users\zhaoz\Desktop\bigdata\finalproject\data'

#save the table containing raw texts as pickle file
with open(path + os.sep + 'fund_objectives_strategy_raw.pkl','wb') as f1:
    pickle.dump(fund_objectives_strategy_raw, f1)

*Ref:*

https://www.sec.gov/page/edgar-glossary </br>
https://www.investor.gov/introduction-investing/investing-basics/glossary/mutual-fund-classes

# <font color = 'green'> 2. Preliminary text cleaning.</font>

In [7]:
import os
import pickle
import pandas as pd
import re

path = r'C:\Users\zhaoz\Desktop\bigdata\finalproject\data'

In [9]:
#read raw data
f1 = open(path + os.sep + 'fund_objectives_strategy_raw.pkl','rb')
fund_objectives_strategy_raw = pickle.load(f1)

In [10]:
fund_objectives_strategy_raw.head()

,adsh,cik_expanded,name,period_end_date,objective,strategy
0,0000930413-17-001900,1000249,FIRST EAGLE VARIABLE FUNDS,20170430,First Eagle Overseas Variable Fund (the Fund) ...,"To achieve its objective, the Fund will invest..."
1,0001133228-17-002371,1002427,MORGAN STANLEY MULTI CAP GROWTH TRUST,20170331,"Morgan Stanley Multi Cap Growth Trust (the """"F...",The Fund will normally invest at least 65% of ...
2,0001133228-19-002207,1002427,MORGAN STANLEY INSIGHT FUND,20190329,"Morgan Stanley Insight Fund (the ""Fund"") seeks...","Under normal circumstances, the Fund's assets ..."
3,0000894189-17-000238,1002537,NEEDHAM FUNDS INC,20161229,The Needham Growth Fund (the Growth Fund) seek...,"Under normal conditions, the Growth Fund inves..."
4,0000894189-17-000238,1002537,NEEDHAM FUNDS INC,20161229,The Needham Small Cap Growth Fund (the Small C...,"Under normal conditions, the Small Cap Growth ..."

In [11]:
fund_objectives_strategy_raw.shape

(6519, 6)

In [12]:
# define context specific keywords not to include in topic modelling

#we would ignore the fund name when classifying strategies

def get_items(target_string_list):
    items = []
    for i in target_string_list:
        lower_i = str.lower(i)
        items.append(lower_i)
    
    return list(set(items))

fund_names = get_items(fund_objectives_strategy_raw['name']) #convert the dataframe to list

In [13]:
#%pip install -U nltk
from nltk.corpus import stopwords
from tqdm import tqdm

cachedStopWords = stopwords.words("english") #caching the stopwords object to boost the processing speed

def word_reduction(target_string_list):
    main_texts = []
    for i in tqdm(target_string_list):
        #lower case
        lower_text = str.lower(i)
        #remove strings in fund name
        for name in fund_names:
            lower_text = lower_text.replace(name, ' ')
        #remove special characters
        cleaned_text = re.sub('[^A-Za-z]+', ' ', lower_text).replace("_", '') 
        #remove stopwords
        cleaned_text = ' '.join([word for word in cleaned_text.split() if word not in cachedStopWords])
        main_texts.append(cleaned_text)
    return main_texts

cleaned_objective = word_reduction(fund_objectives_strategy_raw['objective'])
cleaned_strategy = word_reduction(fund_objectives_strategy_raw['strategy'])

100%|██████████| 6519/6519 [00:08<00:00, 779.89it/s]
100%|██████████| 6519/6519 [02:06<00:00, 51.55it/s]

In [14]:
#combine objective and strategy to strengthen the text analysis
cleaned_objective_strategy = [cleaned_objective[i] + ' ' + cleaned_strategy[i] for i in range(len(cleaned_objective))]

In [15]:
#check the data length
print(len(cleaned_objective_strategy))

6519

In [16]:
cleaned_text = pd.concat(
    [fund_objectives_strategy_raw,
     pd.DataFrame(cleaned_objective_strategy,columns=['cleaned_objective_strategy'])], axis=1)

cleaned_text.head()

,adsh,cik_expanded,name,period_end_date,objective,strategy,cleaned_objective_strategy
0,0000930413-17-001900,1000249,FIRST EAGLE VARIABLE FUNDS,20170430,First Eagle Overseas Variable Fund (the Fund) ...,"To achieve its objective, the Fund will invest...",first eagle overseas variable fund fund seeks ...
1,0001133228-17-002371,1002427,MORGAN STANLEY MULTI CAP GROWTH TRUST,20170331,"Morgan Stanley Multi Cap Growth Trust (the """"F...",The Fund will normally invest at least 65% of ...,fund seeks long term capital appreciation fund...
2,0001133228-19-002207,1002427,MORGAN STANLEY INSIGHT FUND,20190329,"Morgan Stanley Insight Fund (the ""Fund"") seeks...","Under normal circumstances, the Fund's assets ...",fund seeks long term capital appreciation norm...
3,0000894189-17-000238,1002537,NEEDHAM FUNDS INC,20161229,The Needham Growth Fund (the Growth Fund) seek...,"Under normal conditions, the Growth Fund inves...",needham growth fund growth fund seeks long ter...
4,0000894189-17-000238,1002537,NEEDHAM FUNDS INC,20161229,The Needham Small Cap Growth Fund (the Small C...,"Under normal conditions, the Small Cap Growth ...",needham small cap growth fund small cap growth...

In [17]:
with open(path + os.sep + 'cleaned_text.pkl','wb') as f2:
    pickle.dump(cleaned_text, f2)

# <font color = 'green'> 3. Use pretrained BERT model to do classification. </font>

Here we use an pretrained ESG FinBERT model, which can classify the text into 9 categories.

* Climate Change
* Pollution & Waste
* Corporate Governance
* Natural Capital
* Product Liability
* Human Capital
* Business Ethics & Values
* Community Relations
* Non-ESG

*Source:*</br>
https://huggingface.co/yiyanghkust/finbert-esg-9-categories</br>
https://www.allenhuang.org/uploads/2/6/5/5/26555246/esg_9-class_descriptions.pdf
</font>

In [2]:
import os
import pickle
import pandas as pd
import re
import tqdm as notebook_tqdm
from tqdm import tqdm, trange
import transformers
from transformers import BertTokenizer, BertForSequenceClassification, pipeline

c:\Users\zhaoz\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
path = r'C:\Users\zhaoz\Desktop\bigdata\finalproject\data'

#read raw data
f2 = open(path + os.sep + 'cleaned_text.pkl','rb')
cleaned_text = pickle.load(f2)

In [4]:
print('number of observations: ', len(cleaned_text['cleaned_objective_strategy']))
print('max length of string: ', len(max(cleaned_text['cleaned_objective_strategy'], key=len)))

number of observations:  6519
max length of string:  17034

In [5]:
finbert_esg_c = BertForSequenceClassification.from_pretrained('yiyanghkust/finbert-esg-9-categories',num_labels=9)
finbert_esg_tokenizer_c = BertTokenizer.from_pretrained('yiyanghkust/finbert-esg-9-categories')
finbert_esg_classifier = pipeline("text-classification", model=finbert_esg_c, tokenizer=finbert_esg_tokenizer_c)

In [6]:
#a function to cut the text into blocks of fixed lenth
def cut_text(text,lenth):
  textArr = re.findall(r'.{' + str(lenth) + '}', text)
  textArr.append(text[(len(textArr)*lenth):])
  return textArr

#esg classifier based on finbert model
def classifier(s,max_len):
  if len(s) < max_len:
    result = finbert_esg_classifier(s)
    if result[0]['score'] < 0.70:
      result[0]['label'] = 'Non-ESG'
    return result
    
  else:
    #print(len(s))
    s = cut_text(s,max_len)
    results = []
    for block in s:
      result = finbert_esg_classifier(block)
      if result[0]['score'] < 0.70:
        result[0]['label'] = 'Non-ESG'
      results.append(result)
    
    return max(results, key=lambda d: d[0]['score'])

labels = []

for s in tqdm(cleaned_text['cleaned_objective_strategy']):
  try:
    #greedy classifier
    label = classifier(s,3900)
  except:
    #conservative classifier
    label = classifier(s,3000)
  labels.append(label)

#save labels as pickle file after finished classification
with open(path + os.sep + 'labels.pkl','wb') as f3:
    pickle.dump(labels, f3)

100%|██████████| 6519/6519 [2:35:34<00:00,  1.43s/it]

In [7]:
esg_labels = [l[0]['label'] for l in labels]

labelled_text = pd.concat(
    [cleaned_text,
     pd.DataFrame(esg_labels,columns=['esg_labels'])], axis=1)

print(labelled_text.shape)
labelled_text.head()

(6519, 8)

,adsh,cik_expanded,name,period_end_date,objective,strategy,cleaned_objective_strategy,esg_labels
0,0000930413-17-001900,1000249,FIRST EAGLE VARIABLE FUNDS,20170430,First Eagle Overseas Variable Fund (the Fund) ...,"To achieve its objective, the Fund will invest...",first eagle overseas variable fund fund seeks ...,Non-ESG
1,0001133228-17-002371,1002427,MORGAN STANLEY MULTI CAP GROWTH TRUST,20170331,"Morgan Stanley Multi Cap Growth Trust (the """"F...",The Fund will normally invest at least 65% of ...,fund seeks long term capital appreciation fund...,Non-ESG
2,0001133228-19-002207,1002427,MORGAN STANLEY INSIGHT FUND,20190329,"Morgan Stanley Insight Fund (the ""Fund"") seeks...","Under normal circumstances, the Fund's assets ...",fund seeks long term capital appreciation norm...,Non-ESG
3,0000894189-17-000238,1002537,NEEDHAM FUNDS INC,20161229,The Needham Growth Fund (the Growth Fund) seek...,"Under normal conditions, the Growth Fund inves...",needham growth fund growth fund seeks long ter...,Non-ESG
4,0000894189-17-000238,1002537,NEEDHAM FUNDS INC,20161229,The Needham Small Cap Growth Fund (the Small C...,"Under normal conditions, the Small Cap Growth ...",needham small cap growth fund small cap growth...,Non-ESG

In [8]:
#save te labelled text as pickle file
with open(path + os.sep + 'common_goods.fund_objectives_strategy_with_labels.pkl','wb') as f4:
    pickle.dump(labelled_text, f4)

# <font color = 'green'> 4. Create tables in local database.</font>

In [9]:
import os
import pickle

path = r'C:\Users\zhaoz\Desktop\bigdata\finalproject\data'

In [27]:
#%pip install --upgrade pandas
#read pickle file
f4 = open(path + os.sep + 'common_goods.fund_objectives_strategy_with_labels.pkl','rb')
labelled_text = pickle.load(f4)

#save labelled text as parquet file for dumping it into local database
#%pip install pyarrow
labelled_text.to_parquet(path + os.sep + 'common_goods.fund_objectives_strategy_with_labels.parquet')

Upload local parquet files to docker container under /var/lib/clickhouse/user_files/data.
![upload local files to docker container](../img/uploadlocalfilestodocker.png "upload local files to docker container") </br>

In [4]:
#create table as fund_objectives_strategy_with_labels in local database common_goods

from installdatabase import *

clickhouse_query('drop table if exists common_goods.fund_objectives_strategy_with_labels')


clickhouse_query('''
create table if not exists common_goods.fund_objectives_strategy_with_labels
Engine = MergeTree()
ORDER BY tuple() AS
SELECT *
FROM file('data/common_goods.fund_objectives_strategy_with_labels.parquet', Parquet)
''')

Elapsed time: 0 days 00:00:00 seconds
Elapsed time: 0 days 00:00:00 seconds

Empty DataFrame
Columns: []
Index: []

In [5]:
clickhouse_query('''
select * from common_goods.fund_objectives_strategy_with_labels limit 5
''')

Elapsed time: 0 days 00:00:00 seconds

,adsh,cik_expanded,name,period_end_date,objective,strategy,cleaned_objective_strategy,esg_labels
0,0000930413-17-001900,1000249,FIRST EAGLE VARIABLE FUNDS,20170430,First Eagle Overseas Variable Fund (the Fund) ...,"To achieve its objective, the Fund will invest...",first eagle overseas variable fund fund seeks ...,Non-ESG
1,0001133228-17-002371,1002427,MORGAN STANLEY MULTI CAP GROWTH TRUST,20170331,"Morgan Stanley Multi Cap Growth Trust (the """"F...",The Fund will normally invest at least 65% of ...,fund seeks long term capital appreciation fund...,Non-ESG
2,0001133228-19-002207,1002427,MORGAN STANLEY INSIGHT FUND,20190329,"Morgan Stanley Insight Fund (the ""Fund"") seeks...","Under normal circumstances, the Fund's assets ...",fund seeks long term capital appreciation norm...,Non-ESG
3,0000894189-17-000238,1002537,NEEDHAM FUNDS INC,20161229,The Needham Growth Fund (the Growth Fund) seek...,"Under normal conditions, the Growth Fund inves...",needham growth fund growth fund seeks long ter...,Non-ESG
4,0000894189-17-000238,1002537,NEEDHAM FUNDS INC,20161229,The Needham Small Cap Growth Fund (the Small C...,"Under normal conditions, the Small Cap Growth ...",needham small cap growth fund small cap growth...,Non-ESG

In [6]:
#add year label
clickhouse_query('''
ALTER TABLE common_goods.fund_objectives_strategy_with_labels 
ADD COLUMN IF NOT EXISTS year Int32 DEFAULT 0 AFTER period_end_date
''')

clickhouse_query('''
ALTER TABLE common_goods.fund_objectives_strategy_with_labels
UPDATE year = round(period_end_date/10000)
WHERE period_end_date is not null
''')

clickhouse_query('select * from common_goods.fund_objectives_strategy_with_labels limit 5')

Elapsed time: 0 days 00:00:00 seconds
Elapsed time: 0 days 00:00:00 seconds
Elapsed time: 0 days 00:00:00.000998 seconds

,adsh,cik_expanded,name,period_end_date,year,objective,strategy,cleaned_objective_strategy,esg_labels
0,0000930413-17-001900,1000249,FIRST EAGLE VARIABLE FUNDS,20170430,2017,First Eagle Overseas Variable Fund (the Fund) ...,"To achieve its objective, the Fund will invest...",first eagle overseas variable fund fund seeks ...,Non-ESG
1,0001133228-17-002371,1002427,MORGAN STANLEY MULTI CAP GROWTH TRUST,20170331,2017,"Morgan Stanley Multi Cap Growth Trust (the """"F...",The Fund will normally invest at least 65% of ...,fund seeks long term capital appreciation fund...,Non-ESG
2,0001133228-19-002207,1002427,MORGAN STANLEY INSIGHT FUND,20190329,2019,"Morgan Stanley Insight Fund (the ""Fund"") seeks...","Under normal circumstances, the Fund's assets ...",fund seeks long term capital appreciation norm...,Non-ESG
3,0000894189-17-000238,1002537,NEEDHAM FUNDS INC,20161229,2016,The Needham Growth Fund (the Growth Fund) seek...,"Under normal conditions, the Growth Fund inves...",needham growth fund growth fund seeks long ter...,Non-ESG
4,0000894189-17-000238,1002537,NEEDHAM FUNDS INC,20161229,2016,The Needham Small Cap Growth Fund (the Small C...,"Under normal conditions, the Small Cap Growth ...",needham small cap growth fund small cap growth...,Non-ESG

In [7]:
#create view of last_entry
clickhouse_query('drop view if exists common_goods.last_entry')

clickhouse_query('''
create view common_goods.last_entry as
select adsh, cik_expanded, name, year,	objective, strategy, cleaned_objective_strategy, esg_labels from (
    select *, row_number() over (partition by adsh, year order by period_end_date desc) as rn
    from common_goods.fund_objectives_strategy_with_labels
    )
where rn = 1
order by adsh, year
''')

clickhouse_query('select * from common_goods.last_entry limit 5')

Elapsed time: 0 days 00:00:00 seconds
Elapsed time: 0 days 00:00:00 seconds
Elapsed time: 0 days 00:00:00 seconds

,adsh,cik_expanded,name,year,objective,strategy,cleaned_objective_strategy,esg_labels
0,0000005138-17-000045,5138,AMERICAN GROWTH FUND INC,2017,The Fund&#180;s primary objective is growth of...,"Investment Research Corporation (the """"Adviser...",fund primary objective growth capital investme...,Non-ESG
1,0000012601-17-000043,12601,PRINCIPAL VARIABLE CONTRACTS FUNDS INC,2017,The Account seeks to provide as high a level o...,The Account operates as a fund of funds and in...,account seeks provide high level total return ...,Non-ESG
2,0000030146-17-000010,30146,DREYFUS FUND INC,2017,The fund seeks long-term capital growth consis...,"To pursue its goals, the fund primarily invest...",fund seeks long term capital growth consistent...,Corporate Governance
3,0000030146-20-000011,30146,"BNY MELLON LARGE CAP SECURITIES FUND, INC.",2020,The fund seeks long-term capital growth consis...,"To pursue its goals, the fund normally invests...",fund seeks long term capital growth consistent...,Non-ESG
4,0000030158-17-000082,30158,"DREYFUS LIQUID ASSETS, INC",2017,The fund seeks as high a level of current inco...,"To pursue its goal, the fund normally invests ...",fund seeks high level current income consisten...,Non-ESG

In [8]:
clickhouse_query('describe table common_goods.fund_objectives_strategy_with_labels')

Elapsed time: 0 days 00:00:00 seconds

,name,type,default_type,default_expression,comment,codec_expression,ttl_expression
0,adsh,Nullable(String),,,,,
1,cik_expanded,Nullable(String),,,,,
2,name,Nullable(String),,,,,
3,period_end_date,Nullable(Int32),,,,,
4,year,Int32,DEFAULT,0,,,
5,objective,Nullable(String),,,,,
6,strategy,Nullable(String),,,,,
7,cleaned_objective_strategy,Nullable(String),,,,,
8,esg_labels,Nullable(String),,,,,

In [9]:
clickhouse_query('describe table common_goods.last_entry')

Elapsed time: 0 days 00:00:00 seconds

,name,type,default_type,default_expression,comment,codec_expression,ttl_expression
0,adsh,Nullable(String),,,,,
1,cik_expanded,Nullable(String),,,,,
2,name,Nullable(String),,,,,
3,year,Int32,,,,,
4,objective,Nullable(String),,,,,
5,strategy,Nullable(String),,,,,
6,cleaned_objective_strategy,Nullable(String),,,,,
7,esg_labels,Nullable(String),,,,,